*{
    background-color:bisque;
    color:black;
}

#di{
    color:black;
   margin-top: 250px;
    margin-left: 550px;
}
#btn{
    border: 5px solid orangered;
}

#in{
    border: 5px solid black;
}
#drop{
    border: 5px solid black;  
}
.par{
    text-align: center;
    color: red;
}