*{
    background-color: whitesmoke;

}
.box{
color: aqua;
text-align: center;
text-decoration: double;
text-overflow: ellipsis;
text-shadow: 25px;
background-color: rgb(189, 241, 137);
margin-block: 50px;
}
#boxs{
color: black;
font-size: large;
font-weight: 800;
font-family: sans-serif;
font: optional;
font-display:initial;


}
#la{
color: darkmagenta;
border-style: double;
border-color: brown
font: optional;
font-display:initial;
font-family: fantasy;
font-weight: 500;

}

.p1{
background-color: darkcyan;
}
.p2{
background-color:darkred;
}

.mouse{
    width: 400;
    height: 200;
    border: 2px solid blue;
    text-align: center;
    margin-left: 450px;
}