/* .custome-page{
    background-color: purple;
    
    border: 3px solid palevioletred;
} */
/* body{
    background-color: blanchedalmond;
} */


/* .custome-row{
    background-color:black;
   
    border: 3px dotted red;
    padding: 5px;

}

.custome-col{
    background-color:aqua;
    
    border: 3px solid yellow;
}
#body{
    margin-top: 50px;
} */

/* #ds{
    background-color: red;
    margin-left: 550px;
    margin-bottom: 600px;
    place-content: center;
} */
#edit{
    color: blue;
    
}

#pink{
    background-color:pink;
    color: aqua;
}

#orange{
    background-color:rgb(15, 187, 81);
    color: rgb(22, 7, 112);
}
#red{
    background-color:rgb(255, 18, 57);
    color: rgb(30, 238, 47);
}